.k-section-name-youtubeThumbnail,
.k-section-name-instagramFiles {

	.k-item {
		overflow: hidden;

		.k-item-content {
			padding: 0;
		}
	}

	.k-section-buttons,
	.k-item-options,
	.k-sort-handle {
		display: none;
	}
}